@font-face {
    font-family: 'Minecraft';
    src: url('fonts/Minecraft.woff2') format('woff2'),
        url('fonts/Minecraft.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Monster';
    src: url('fonts/MonsterFriendFore.woff2') format('woff2'),
        url('fonts/MonsterFriendFore.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.test1 {
    font-family:'Minecraft', 'serif';
    font-size: 20px;
    color: white;
    margin-left: 100px;
    margin-right: 100px;
    line-height: 35px;
    padding-bottom: 10px;
}

.test2 {
    font-family:'Monster', 'serif';
    font-size: 40px;
    color: #532b88;
    text-align: center;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 15px;
}

body {
    background: #c8b1e4;
    overflow: hidden;
}

.header-left {
    background-color: white;
}

.scrolling-text {
            font-family: 'Monster', sans-serif;
            font-size: 60px;
            color: palegoldenrod;
            white-space: nowrap;
        }

section.header {
    padding: 50px;
}
.test3 {
    font-family:'Monster', 'serif';
    font-size: 14px;
    color: black;
    text-align: right;
    padding-right: 10px;
}
    